**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/mobile
**/photo
**/tests
**/tools
**/.dart_tool
**/build
**/*.user
**/*.suo
**/*.env
**/*.env.*
**/appsettings.Development.json
**/firebase-adminsdk*.json
**/service-account*.json
**/*.pfx
**/*.p12
**/*.jks
**/*.keystore
**/*.md
**/*.log
